 .hero{
    margin: 150px 0px;
    width: 100%;
    height: 60vh;
     .hero-box{
        width: 85%;
        height: 350px;
        margin: 60px auto;
        display: flex;
       
        justify-content: space-between;
     }
     .hero-text{
        width: 42%;
        h1{
            width: 550px;
            height: 130px;
            font-size: 40px;
        }
        p{
            width: 570px;
            height: 150px;
            font-size: 20px;
        }
        button{
            width: 232px;
            height: 40px;
            border-radius: 5px;
            font-size: 15px;
        }
         }
     .hero-img{
        width: 50%;
        
     }
     
 }