.hizmatlar-bulimi{
    width: 85%;
    height: 30vh;
    // border: 2px solid;
    margin: 130px auto;
    h1{
        width: 194px;
        height: 42px;
        font-size: 40px;
        margin: 40px auto;
    }
    p{
        width: 800px;
        height: 72px;
        text-align: center;
        margin: 0px auto;
        font-size: 16px;
    }
   
}