

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Open Sans", sans-serif;

}
.container{
    width: 85%;
    margin: 0 auto;
   
}
a{
    color: inherit;
}
button{
    cursor: pointer;
    border: none;
    color: white;
    background-color: #00BAFC;
}